<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Bienvenue à la page d'administration</h1>
<div>
    <button onclick="location.href='/admin/all_user'">Consulter</button>
    <button onclick="location.href='/admin/create_user'">Ajouter</button>
    <button onclick="location.href='/admin/edit_user'">Modifier</button>
    <button onclick="location.href='/admin/delete_user'">Supprimer</button>
</div>
</body>
</html>

