<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Créer Utilisateur</title>
</head>
<body>
<h1>Créer Utilisateur</h1>
<form th:action="@{/admin/user}" th:object="${user}" method="post">
    <div>
        <label>Nom d'utilisateur:</label>
        <input type="text" th:field="*{username}" />
    </div>
    <div>
        <label>Mot de passe:</label>
        <input type="password" th:field="*{password}" />
    </div>
    <div>
        <label>Rôle:</label>
        <select th:field="*{role}">
            <option value="ADMIN">Admin</option>
            <option value="ENSEIGNANT">Enseignant</option>
            <option value="RESPONSABLE_TIRAGE">Responsable de Tirage</option>
        </select>
    </div>
    <button type="submit">Enregistrer</button>
</form>
</body>
</html>
