<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Espace Enseignant</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Bienvenue dans votre espace, Enseignant!</h1>
<div>
    <button onclick="location.href='/enseignant/all_rendezvous'">Consulter</button>
    <button onclick="location.href='/enseignant/create_rendezvous'">Ajouter</button>
    <button onclick="location.href='/enseignant/edit_rendezvous'">Modifier</button>
    <button onclick="location.href='/enseignant/delete_rendezvous'">Annuler</button>
</div>
</body>
</html>
